
/*Page About*/
#about {
	background-color: #fff;
	.bp-header {
		width: 100%;
		max-width: 75%;
		&__title {
			color: #000;
			font-size: 2.86em;
			@media screen and (max-width: 1366px) {
				font-size: 2.1em;
			}
			@media screen and (max-width: 1024px) {
				font-size: 1.8em;
			}
		}
	}
	h3 {
		font-size: 2.9em;
		color: #000;
		margin-bottom:  15px;
		margin-top: 0;
		@media screen and (max-width: 1024px) {
			font-size: 2.6em;
		}
	}
	.sub_title {
		color: #808080;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 300;
		line-height: 28.51px;
		margin-top: 0;
		margin-bottom: 7%;
		@media screen and (max-width: 1366px) {
			margin-bottom: 30px;
		}
	}
	p {
		color: #000000;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 300;
		line-height: 28.51px;
		&:not(:last-of-type) {
			margin-bottom: 2em;
		}
	}
	#about-content {
		height: 100%;
		img {
			position: absolute;
			top: 58%;
			right: 0;
			transform: translate(0%, -50%);
			-webkit-transform: translate(0%, -50%);
			-moz-transform: translate(0%, -50%);
			-ms-transform: translate(0%, -50%);
			-o-transform: translate(0%, -50%);
			height: 87%;
			/*max-width:50%;*/
			-o-object-fit: contain;
			object-fit: contain;
			@media screen and (max-width: 1750px) {
				max-width: 50%;
			}
			@media screen and (max-width: 1366px) {
				max-width: 40%;
			}
		}
	}
	.moba {
		display: none;
	}
	.right-column-text {
		display: inline-block;
		width: 35%;
		position: absolute;
		top: 55%;
		right: 50%;
		-webkit-transform: translate(0%, -50%);
		-moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		-o-transform: translate(0%, -50%);
		z-index: 1000;
		@media screen and (max-width: 1750px) {
			width: 100%;
			max-width: 600px;
		}
		@media screen and (min-width: 1750px) {
			right: 60%;
		}
		@media screen and (max-width: 1366px) {
			width: 100%;
			max-width: 60%;
			right: 39%;
			padding-left: 24px;
			top: 62%;
		}
	}
	.accord_text_button {
		color: #fff;
		background-color: #000;
		margin-top: 70px;
		width: 40%;
		min-width: 190px;
	}
}
/*Page About END*/